* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: #2a607c;
}
/*fixed indentation of html header section*/
header {
    font-size: 24px;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    display: inline-block;
}
 .seo {
    color: #1e4356;
}

nav {
   /* updated padding and font size*/
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    background-color: #2a607c;
    padding: 26px;
}
ul {
    list-style-type: none; 
}
li {
    display:inline-flex;
    padding-left: 10px;
    flex-grow: 1; 
}

a {
    /*added underline for buttons*/
    color: #ffffff;
    text-decoration:underline;  
}

p {
    font-size: 16px;
}

.intro-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

content-section {
    width: 75%;
    margin-left: 20px;
    float: left;
    margin-right: 25px;
}
/*removed redundant classes*/
asset{
    margin-bottom: 20px;
    padding: 20px;
    clear:both;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}
/*added padding and alignment to text*/
asset h2 {
    margin-bottom: 20px;
    font-size: 36px;
    display:block;
    text-align: left;
    padding: 20px;
    padding-bottom: 0px;
}
asset p {
    font-size: 16px;
    display:block;
    padding: 20px;
    padding-bottom: 80px;
    text-align: left;
}
asset img {
    max-height: 200px;
}
benefits {
    padding: 5px;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#1e4356;
}
/*consolidated redundant classes*/
benefit {
    margin-bottom: 32px;
    color: #ffffff;
}
/*consolidated redundant classes*/
/*added padding and text decoration to header to make it stand out*/
benefit h3 {
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
    text-decoration: underline;
}
/*consolidated redundant classes*/
benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

benefit p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 20px;

}

footer {
    padding: 30px;
    clear: both;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
/*needs no update*/
footer h2 {
    font-size: 20px;
}
/*added intercative text styling */
a:hover  {color:#1e4356}
